header{
	height: 120px;
}

.logo1{
	margin-top: -15px;
}

nav{
	float: right;
	padding-right:5px;
	margin-top:35px;
	word-spacing: 20px;
}

body{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

nav ul li{
	list-style-type: none;
	padding-left: 5px;
	text-align: right;
	display:inline-block;
}
nav ul1{
	float: right;
	display: inline-block;
	
}

nav ul1 button{
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}

nav ul li a{
	text-decoration:none;
	color:#032B00;
	font-family:Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size: 25px;
}

/*标题字背景*/
.box-1 {
	background:url(pic/m4-m4-aaa.jpg);
	background-size: cover;
	height: 400px;
	margin: 1%;
}

/*标题字体*/
h1 {
	color:#FFFFFF;
	font-family:Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size: 75px;
	padding-top: 100px;
	padding-left: 70px;
	width: 700px;
	word-wrap: break-word;
}


.News {
	background:url(pic/m4-m4-214th.jpg);
	width: 400px;
	height: 200px;
	background-size: cover;
    margin: 1%;
	color:#FFFFFF;
	transition: 1s;
	filter: grayscale(100%);
	margin-top: 10px;
	float: left;
}


.News:hover{
	filter: grayscale(10%);
	transform: scale(1.04,1.04);
}

.News h{
	margin-left: 20px;
	margin-top: 50px;
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size: 50px;
	display:inline-block;
	text-shadow: 2px 2px 2px black;
}

.News p{
	margin-left: 21px;
	margin-top: 35px;
	font-size: 20px;
	font-family:"微软雅黑";
	text-shadow: 5px 5px 5px black;
}

.Photograghy {
	background:url(image/14.jpg) 0px -100px;
	background-size: cover;
	float: left;
	width: 583px;
	height: 200px;
	margin: 1%;
	margin-top: 10px;
	color: #fff;
	transition: 1s;
	filter:grayscale(100%);
}

.Photograghy:hover{
	filter: grayscale(10%);
	transform: scale(1.04,1.04);
}

.Photograghy h{
	margin-left: 20px;
	margin-top: 50px;
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size: 50px;
	display:inline-block;
	text-shadow: 2px 2px 2px black;
}

.Photograghy p{
	margin-left: 21px;
	margin-top: 35px;
	font-size: 20px;
	font-family:"微软雅黑";
	text-shadow: 5px 5px 5px black;
}

.Code {
	background:url(pic/wisnu-tan-deadpool.jpg) 0px -50px;
	background-size: cover;
	float: left;
	width: 583px;
	height: 200px;
	margin: 1%;
	margin-top: 10px;
	color: #fff;
	transition: 1s;
	filter:grayscale(100%);
}

.Code:hover{
	filter: grayscale(10%);
	transform: scale(1.04,1.04);
}

.Code h{
	margin-left: 20px;
	margin-top: 50px;
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size: 50px;
	display:inline-block;
	text-shadow: 2px 2px 2px black;
}

.Code p{
	margin-left: 21px;
	margin-top: 35px;
	font-size: 20px;
	font-family:"微软雅黑";
	text-shadow: 5px 5px 5px black;
}

.Game {
	background:url(pic/1-002.jpg);
	width: 400px;
	height: 200px;
	background-size: cover;
    margin: 1%;
	color:#FFFFFF;
	transition: 1s;
	filter: grayscale(100%);
	margin-top: 10px;
	float: left;
}


.Game:hover{
	filter: grayscale(10%);
	transform: scale(1.04,1.04);
}

.Game h{
	margin-left: 20px;
	margin-top: 50px;
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size: 50px;
	display:inline-block;
	text-shadow: 2px 2px 2px black;
	filter: 
}

.Game p{
	margin-left: 21px;
	margin-top: 35px;
	font-size: 20px;
	font-family:"微软雅黑";
	text-shadow: 5px 5px 5px black;
}

#focusimg{
	margin: 1%;
	animation:myfirst 5s;
	animation-iteration-count: infinite;
	overflow: hidden;  
	position:relative;
	width: 1003.62px;
	height: 180px;
	transition: 1s;
	opacity:0.4;
	filter:alpha(opacity=40);
}

#focusimg:hover{
	margin: 1%;
	animation:myfirst 5s;
	animation-iteration-count: infinite;
	overflow: hidden;  
	position:relative;
	width: 1003.62px;
	height: 180px;
	opacity:1.0;
	filter:alpha(opacity=100);
}

#focusimg h{
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	color: #FFFFFF;
	font-size: 50px;
    margin-top: 50px;
	margin-left: 290px;
	display:inline-block;
	text-shadow: 2px 2px 2px black;
}

@keyframes myfirst{
0% {background:url(pic/QQ图片20150613213721.jpg) no-repeat 0px -350px;
	background-size: 100% auto;}
25%{background:url(pic/QQ图片20150613213732.jpg) no-repeat 0px -350px;
	background-size: 100% auto;}
50%{background:url(pic/QQ图片20150613213750.jpg) no-repeat 0px -350px;
	background-size: 100% auto;}
100%{background:url(pic/QQ图片20150613213743.jpg) no-repeat 0px -350px;
	background-size: 100% auto;}
}

/*Table*/
@media (max-width:768px){
	h1{
		font-size: 70px;
	}
	.box-2{
		width: 48%;
	}
	nav ul li{
		display: block;
	}
}

/*Mobile*/
@media (max-width:500px){
	h1{
		font-size: 40px;
		
	}
	}
	.box-2{
		width: 98%;
	}
